In [20]:
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('salary.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs = df.drop('salary_more_then_100k', axis = 'columns')
target = df['salary_more_then_100k']

In [7]:
le_company = preprocessing.LabelEncoder()
le_job = preprocessing.LabelEncoder()
le_degree = preprocessing.LabelEncoder()

In [8]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_job.fit_transform(inputs['degree'])

In [14]:
inputs.drop(['company','job','degree'], axis = 'columns', inplace = True)

In [18]:
features_train, features_test, target_train, target_test = train_test_split(inputs, target, test_size = 0.1)

In [31]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy')
clf.fit(features_train, target_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [32]:
y_pred = clf.predict(features_test)
acc = accuracy_score(target_test, y_pred)
print("model accuracy is {}".format(acc))

model accuracy is 0.5